<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ortable: `put: []` demo</title>


    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

    <!-- Sortable.js -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            background: #eee;
            margin: 1px;
            padding: 5px 10px;
        }

        .sortable-ghost {
            opacity: .6;
        }
    </style>
</head>
<body>

<ul id="foo">
    <li>foo 1</li>
    <li>foo 2</li>
    <li>foo 3</li>
</ul>

<ul id="bar">
    <li>bar 1</li>
    <li>bar 2</li>
    <li>bar 3</li>
</ul>

<ul id="qux">
    <li>qux 1</li>
</ul>
<script>
    Sortable.create(foo, {
        group: 'foo',
        animation: 100
    });

    Sortable.create(bar, {
        group: {
            name: 'bar',
            // 可以放的區域可用陣列
            put: 'qux',
            // 如果要放過去，來源端數量小於3就用複製
            pull: function (to, from) {
                return from.el.children.length > 3 || 'clone';
            }
        },
        animation: 100
    });

    Sortable.create(qux, {
        group: {
            name: 'qux',
            // 可以放方法限制目的端只能多少數量
            put: function (to) {
                return to.el.children.length < 3;
            },
        },
        animation: 100,
        //還不知道如何處理
        removeCloneOnHide: function () {
            console.log('hey')
        }
    });

</script>

</body>
</html>